{% extends 'rand_movie_gen/base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <div class="center">
        <h1 class="fir fadeIn">Don't have any idea what to watch?</h1>
        <h1 class="sec fadeIn">Click button to randomly pick 250 best rated movies from imdb</h1>
        <button type="button" class="button-white fade" name="button">Pick random movie</button>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'js/crawl-check.js' %}"></script> -->
<script type="text/javascript">

var statusInterval;
// var taskId = '{{task}}';
// console.log(taskId)

$(document).ready(function() {

$(document).on('click', 'button', function(){
    $.ajax({
        url: '/api/crawl/',
        type: 'POST',
        success:  crawlSuccess,
        //error: crawlFail,
    });




  function checkCrawlStatus(task){
        $.ajax({
            url: '/api/crawl/?task_id='+taskId+'/',
            type: 'GET',
            success: function(data){
              if(data.status === 'finished'){
              $('.title').html(data.jsi[0].movie_name)
              clearInterval(statusInterval)
            }
            }
            //error: console.log('no'),
        })
    }

function crawlSuccess(task){
    taskId = task.task
    //uniqueId = data.unique_id;
    statusInterval = setInterval(function() {checkCrawlStatus(taskId);}, 4000);
}

});
});
// function crawlFail(data){
//     $('#progress').html(data.responseJSON.error);
//     $('#progress').attr("class", "alert alert-danger");
// }

</script>
{% endblock %}
